* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.005em;
}

body {
  background-color: #ebebeb;
  background-image: url(../img/backgrounds/bckgrainbow.png), url(../img/backgrounds/bckgrainbow_small.png), url(../img/backgrounds/bckgrainbow_small_2.png);
  background-repeat: no-repeat;
  background-position: -5% -34%, 78.3% 0%, 78.3% 101%;
}

h1 {
  font-size: 2.6em;
  line-height: 1.3em;
}

h2 {
  font-size: 1.1em;
  line-height: 1.4em;
}

p {
  line-height: 1.4em;
  word-wrap: break-word;
}

.container {
  width: 1054px;
  height: 100%;
  margin: 0 auto;
  padding: 32px 23px 32px 32px;
  background: #fff;
}
.container .header__firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 19px;
}
.container .header__firstline .firstline__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 42px;
  margin-bottom: 3px;
}
.container .header__firstline .firstline__search #search__field {
  width: 318px;
  height: 36px;
  border: 1px solid #e5e5e5;
  border-right: none;
}
.container .header__firstline .firstline__search #search__submit {
  width: 120px;
  height: 36px;
  font-size: 1.3em;
  font-weight: 700;
  background: #00aedb;
  border: none;
  color: #fff;
}
.container .header__firstline .firstline__search #search__submit:hover {
  cursor: pointer;
}
.container .header__firstline .firstline__socialbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .header__firstline .firstline__socialbuttons a {
  margin-right: 6px;
}
.container .header__firstline .firstline__socialbuttons a:last-child {
  margin-right: 0;
}
.container .header__secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
}
.container .header__secondline a {
  min-width: 106px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  text-align: center;
}
.container .header__secondline a:nth-child(1) {
  background: #00aedb;
}
.container .header__secondline a:nth-child(2) {
  background: #8cc63f;
}
.container .header__secondline a:nth-child(3) {
  background: #5261ac;
}
.container .header__secondline a:nth-child(4) {
  background: #00aedb;
}
.container .header__secondline a:nth-child(5) {
  background: #f78f1d;
}
.container .header__secondline a:nth-child(6) {
  background: #ff0000;
}
.container .header__secondline a:nth-child(7) {
  background: #898989;
  padding-right: 350px;
  padding-left: 13px;
}
.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .content__main {
  margin-right: 22px;
}
.container .content__main .main__article {
  position: relative;
}
.container .content__main .main__article .article__publicatedtime {
  position: absolute;
  left: -76px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .content__main .main__article .article__publicatedtime div:first-child {
  width: 67px;
  padding: 3px;
  text-align: center;
  font-size: 2.5em;
  background: #f78f1d;
  color: #ebebeb;
  font-weight: 700;
}
.container .content__main .main__article .article__publicatedtime div:last-child {
  width: 67px;
  padding: 3px;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  background: #00aedb;
  color: #fff;
}
.container .content__main .main__article h1 {
  margin-left: -3px;
  margin-top: 21px;
  margin-bottom: 5px;
}
.container .content__main .main__article .article__picturesblock {
  padding: 10px 10px 8px 10px;
  margin: 22px auto 28px auto;
  border: 1px #bfbfbf solid;
  background: #fafafa;
}
.container .content__main .main__article .article__picturesblock--choosen img {
  width: 100%;
}
.container .content__main .main__article .article__picturesblock--mini {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.container .content__aside {
  margin-top: 30px;
}
.container .content__aside .aside__interesting span {
  display: block;
  position: relative;
  width: 163px;
  height: 36px;
  padding: 8px 18px;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  background: #5261ac;
  color: #fff;
}
.container .content__aside .aside__interesting span::before {
  display: block;
  position: absolute;
  content: "";
  width: 37px;
  height: 36px;
  left: 89%;
  top: 0;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  background: #5261ac;
}
.container .content__aside .aside__interesting .interesting__chooser {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 36px;
  text-transform: uppercase;
  cursor: pointer;
}
.container .content__aside .aside__interesting .interesting__chooser .chooser__category {
  display: block;
  position: relative;
  padding: 8px 21px;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
}
.container .content__aside .aside__interesting .interesting__chooser .chooser__category:nth-child(1) {
  background: #ec098d;
}
.container .content__aside .aside__interesting .interesting__chooser .chooser__category:nth-child(2) {
  background: #f78f1d;
}
.container .content__aside .aside__interesting .interesting__chooser .chooser__category:nth-child(3) {
  background: #00aedb;
  padding-left: 56px;
  padding-right: 56px;
}
.container .content__aside .aside__interesting .interesting__chooser .chooser__category--selected::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: inherit;
  left: 45%;
  bottom: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.container .content__aside .aside__interesting .interesting__content .content__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  text-decoration: none;
}
.container .content__aside .aside__interesting .interesting__content .content__element:last-child {
  border: none;
}
.container .content__aside .aside__interesting .interesting__content .content__element div {
  padding-left: 14px;
}
.container .content__aside .aside__interesting .interesting__content .content__element div a {
  text-decoration: none;
}
.container .content__aside .aside__interesting .interesting__content .content__element div a h2 {
  color: #00aedb;
}
.container .content__aside .aside__interesting .interesting__content .content__element div p {
  color: #000;
  font-size: 0.9em;
}
.container .content__aside .aside__mostliked span {
  display: block;
  height: 36px;
  margin-top: 10px;
  padding: 8px 16px 8px 18px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  background: #5261ac;
  color: #fff;
}
.container .content__aside .aside__mostliked .mostliked__content .content__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
}
.container .content__aside .aside__mostliked .mostliked__content .content__element div {
  padding: 14px;
}
.container .content__aside .aside__mostliked .mostliked__content .content__element div h2 {
  color: #00aedb;
}
.container .content__aside .aside__mostliked .mostliked__content .content__element div p {
  color: #000;
  font-size: 0.9em;
}
.container .content__aside .aside__mostliked .mostliked__content .content__element div p a {
  font-size: 0.9em;
  color: #00aedb;
}

/*# sourceMappingURL=main.css.map */