@import "colors"
@import "sizes"
    
*
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif
    font-size: $default
    margin: 0
    padding: 0
    letter-spacing: 0.005em

body
    background-color: $lightgrey
    background-image: url(../img/backgrounds/bckgrainbow.png), url(../img/backgrounds/bckgrainbow_small.png), url(../img/backgrounds/bckgrainbow_small_2.png)
    background-repeat: no-repeat
    background-position: -5% -34%, 78.3% 0%, 78.3% 101%
    



h1
    font-size: $bigger
    line-height: 1.3em
h2
    font-size: $defalut_bigger
    line-height: $medium
p
    line-height: $medium
    word-wrap: break-word

.container
    width: 1054px
    height: 100%
    margin: 0 auto
    padding: 32px 23px 32px 32px
    background: $white
    .header
        &__firstline
            display: flex
            justify-content: space-between
            align-items: flex-end
            padding-bottom: 19px
            .firstline__search
                display: flex
                margin-right: 42px
                margin-bottom: 3px
                #search__field
                    width: 318px
                    height: 36px
                    border: 1px solid $lightgrey_search
                    border-right: none
                #search__submit
                    width: 120px
                    height: 36px
                    font-size: $medium_small
                    font-weight: 700
                    background: $lightblue
                    border: none
                    color: $white
                    &:hover
                        cursor: pointer
            .firstline__socialbuttons
                display: flex
                a
                    margin-right: 6px
                    &:last-child
                        margin-right: 0
        &__secondline
            display: flex
            justify-content: flex-start
            text-transform: uppercase
            a
                min-width: 106px
                padding: 8px
                color: $white
                text-decoration: none
                font-size: $medium_small
                text-align: center
                &:nth-child(1)
                    background: $lightblue
                &:nth-child(2)
                    background: $saladgreen
                &:nth-child(3)
                    background: $purple
                &:nth-child(4)
                    background: $lightblue
                &:nth-child(5)
                    background: $orange
                &:nth-child(6)
                    background: $red
                &:nth-child(7)
                    background: $mediumgrey
                    padding-right: 350px
                    padding-left: 13px
    .content
        display: flex
        &__main
            margin-right: 22px
            .main__article
                position: relative
                .article__publicatedtime
                    position: absolute
                    left: -76px
                    top: 8px
                    display: flex
                    flex-direction: column
                    align-items: center
                    div:first-child
                        width: 67px
                        padding: 3px
                        text-align: center
                        font-size: $big
                        background: $orange
                        color: $lightgrey
                        font-weight: 700
                    div:last-child
                        width: 67px
                        padding: 3px
                        text-align: center
                        font-size: $medium
                        text-transform: uppercase
                        background: $lightblue
                        color: $white
                h1
                    margin-left: -3px
                    margin-top: 21px
                    margin-bottom: 5px
                .article__picturesblock
                    padding: 10px 10px 8px 10px
                    margin: 22px auto 28px auto
                    border: 1px $mediumgrey2 solid
                    background: $milkywhite
                    &--choosen
                        img
                            width: 100%
                    &--mini
                        margin-top: 8px
                        display: flex
                        justify-content: space-between
                        cursor: pointer
        &__aside
            margin-top: 30px
            .aside__interesting
                span
                    display: block
                    position: relative
                    width: 163px
                    height: 36px
                    padding: 8px 18px
                    font-size: $medium_small
                    text-transform: uppercase
                    letter-spacing: 0px
                    font-weight: 700
                    background: $purple
                    color: $white
                    &::before
                        display: block
                        position: absolute
                        content: ""
                        width: 37px
                        height: 36px
                        left: 89%
                        top: 0
                        -webkit-transform: skew(45deg)
                        -moz-transform: skew(45deg)
                        -o-transform: skew(45deg)
                        background: $purple
                .interesting__chooser
                    margin-top: 4px
                    display: flex
                    justify-content: flex-start
                    height: 36px
                    text-transform: uppercase
                    cursor: pointer
                    .chooser__category
                        display: block
                        position: relative
                        padding: 8px 21px 
                        color: $white
                        font-size: $medium_small
                        text-decoration: none
                        &:nth-child(1)
                            background: $pink
                        &:nth-child(2)
                            background: $orange
                        &:nth-child(3)
                            background: $lightblue
                            padding-left: 56px
                            padding-right: 56px
                        &--selected
                            &::after
                                position: absolute
                                content: ""
                                width: 13px
                                height: 13px
                                background-color: inherit
                                left: 45%
                                bottom: -6px
                                transform: rotate(45deg)

                .interesting__content
                    .content__element
                        display: flex
                        padding-top: 14px
                        padding-bottom: 16px
                        justify-content: space-between
                        align-items: center
                        border-bottom: 1px solid $lightgrey
                        text-decoration: none
                        &:last-child
                            border: none
                        div
                            padding-left: 14px
                            a
                                text-decoration: none
                                h2
                                    color: $lightblue 
                            p
                                color: $black
                                font-size: $small
            .aside__mostliked
                span
                    display: block
                    height: 36px
                    margin-top: 10px
                    padding: 8px 16px 8px 18px
                    font-size: $medium_small
                    text-transform: uppercase
                    font-weight: 700
                    background: $purple
                    color: $white
                .mostliked__content
                    .content__element
                        display: flex
                        justify-content: space-between
                        align-items: flex-end
                        text-decoration: none
                        div
                            padding: 14px
                            h2
                                color: $lightblue
                            p
                                color: $black
                                font-size: $small
                                a
                                    font-size: $small
                                    color: $lightblue